#!/bin/bash
{{ ansible_managed | comment }}

/usr/bin/install --owner=irc --group=irc --mode=0644 ${RENEWED_LINEAGE}/fullchain.pem /etc/inspircd/ssl.crt
/usr/bin/install --owner=irc --group=irc --mode=0600 ${RENEWED_LINEAGE}/privkey.pem /etc/inspircd/ssl.key
/usr/bin/pkill -USR1 inspircd
